*{
    margin: 0px;
    font-family: 'inter';
}
#logo{
   margin-top: 50px;
   margin-left: 70px;
}
#titulo-menu-superior{
    margin-left: 150px;
    margin-top: 30px;
}
#texto-menu-superior{
    margin-left: 150px;
    margin-top: 30px;
    padding-bottom: 100px;
}
#menusuperior{
    background-image: url(/images/fundo-menu-superior.svg);
    color: aliceblue;
}
#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icon{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#titulovideo{
    color: #247BA0;
    margin-top: 50px;
    margin-bottom: 30px;
}
#textovideo{
    color: #383838;
}
#video{
    margin: 50px 25px 50px 100px;
}
#carrossel{
    background-color: #247BA0;
    padding: 50px;
}
#titulo-carrossel{
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.card{
    margin-left: 50px;
}
#div-cards{
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-left: 50px;
}
.seta{
    margin-top: 50px;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
#bruna{
    display: none;
}
#seta-esquerda{
    display: none;  
}

#formulario{
    text-align: center;
    margin: 25px;
}

#titulo-formulario{
    color: #383838;
    font-size: 25px;
}

input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    width: 250px;
    height: 40px;
    background-color: #247BA0;
    border: 0px;
    border-radius: 5px;
    color: #EAECE5;
    font-weight: bolder;
    margin-bottom: 30px;
    cursor: pointer;
}

button:hover{
    background-color: #60bfe7;
    color: white;
    transform: translateY(-3px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px  #012a3b77;
}

